* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    background: none;
    margin-top: 1.5rem;
    margin-left: 5rem;
}

.filtros {
    display: flex;
    gap: 30px;
}

/* select */
.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    background-color: #2d2750;
    color: #aaa;
    border: none;
    padding: 14px 50px 14px 20px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    width: 300px;
}

.icon-select {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #00ffbf;
    font-size: 22px;
    pointer-events: none;
    background: none;
    /* CORRIGIDO */
}

/* pesquisa */
.pesquisa {
    position: relative;
    width: 350px;
}

.pesquisa input {
    width: 100%;
    padding: 14px 45px 14px 20px;
    background-color: #2d2750;
    color: #ccc;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
}

.icon-pesquisa {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff00d4;
    font-size: 22px;
    background: none;
    /* CORRIGIDO */
}

/* indicadores (lado direito) */
.indicadores {
    display: flex;
    align-items: center;
}

.item-indicador {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    background: none;
    gap: 0.5rem;
        color: #EBEBFF;
    font-size: 1.7rem;
    font-weight: 600;
    background: none;
    text-shadow: 5px 0 15px #FFCC4D,
        -5px 0 20px #FFAC33;
    -webkit-text-stroke: 1px #FFCC4D;
}


.item-indicador img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    background: none;
}

.item-indicadorstreak {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    background: none;
    gap: 0.5rem;
    color: #EBEBFF;
    font-size: 1.7rem;
    font-weight: 600;
    background: none;
    text-shadow: 5px 0 15px #FF91D1,
        -5px 0 20px #FF20EE;
    -webkit-text-stroke: 1px #FF91D1;
}

.item-indicadorstreak img {
    width: 40px;
    height: 48px;
    vertical-align: middle;
    background: none;
    margin-bottom: 0.5rem;
}

.item-indicadorvidas {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    background: none;
    gap: 0.5rem;
    color: #EBEBFF;
    font-size: 1.7rem;
    font-weight: 600;
    background: none;
    text-shadow: 5px 0 15px #20FF8A,
        -5px 0 20px #6FFFE6;
    -webkit-text-stroke: 1px #20FF8A;
}

.item-indicadorvidas img {
    width: 52px;
    height: 48px;
    vertical-align: middle;
    background: none;
}

.item-indicadorloja {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    background: none;
    gap: 0.5rem;
    margin-right: 5.8rem;
}