* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

#iniciados {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6rem;
}

.titulo {
    color: #EBEBFF;
    display: flex;
    margin-top: 1.5rem;
    margin-left: 9rem;
    font-weight: 600;
}

#cursos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6rem;
}