* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #EBEBFF;
    background-color: #191932;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

.tituloLoja {
    font-size: 64px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.Conteudoloja {
    background-color: #24284F;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
    border-radius: 20px;
}

.containerNavLoja {
    z-index: 2;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 30rem;
}

.onePage {
    text-decoration: none;
}

.linhasNav {
    margin-left: -6rem;
    background-color: #2B2D59;
    color: #9191B9;
    font-size: 32px;
    font-weight: 600;
    width: 13.938rem;
    height: 6.25rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #161E3A;
    cursor: pointer;
    transition: 1s;
}

.linhasNav:hover {
    color: #24284F;
    background: linear-gradient(#FFFFFF, #ADFFF1, #20FF8A);
    width: 16.438rem;
    border: 3px solid #FFFFFF;
    box-shadow: 5px 0 20px #6FFFE6,
        -5px 0 20px #20FF8A;
}



.display {
    display: flex;
    flex-direction: column;
    width: 89%;
    background-color: #323264;
    overflow-y: scroll;
    height: 65vh;
    border-radius: 20px;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    margin-left: 9rem;
}

::-webkit-scrollbar {
    background-color: #24284F;
    border: 3px solid #323264;
    border-radius: 10px;
    width: 27px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#FF20EE, #FF91D1);
    border-radius: 10px;
    border: 6px solid #323264;
    height: 1px;
}



.tituloSecao {
    font-size: 32px;
    font-weight: 600;
    border-bottom: 3px solid #CDD6F4;
    margin-bottom: 2rem;
}

.conteudoSecao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.caixaImg {
    background-color: #9292D4;
    width: 11.75rem;
    height: 11.75rem;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.nomeProduto {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.preco {
    font-size: 32px;
    font-weight: 600;
    /* height: 7vh;
    width: 9vw; */
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 1.5rem;
}


/*Inicio do Ja possui o Produto */

.CoontainerCheck {
    position: absolute;
    background: linear-gradient(#20FF8A, #6FFFE6);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 9rem;
    margin-left: 9rem;
}

.imageCheck {
    margin-top: 0.5rem;
    width: 70%;
    height: auto;
}

/* Fim Do Ja Possui o Produto */

.vida {
    position: relative;
    z-index: 1;
    width: 8.481rem;
    height: 7.429rem;
}

.mais {
    position: absolute;
    z-index: 2;
    margin-top: 3rem;
    margin-left: 3rem;
}

.ticket {
    width: 9.835rem;
    height: auto;
    padding-top: 2rem;
}

.fogo {
    width: 8.523rem;
    height: auto;
}

.visuaisMascotes {
    width: 10rem;
    height: auto;
}