* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #191932;
    overflow-y: hidden;
    /* overflow-x: auto; */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Estilização Nav e A barra onde mostra as vidas */
header {
    position: fixed;
    margin-bottom: 2rem;
    height: 10rem;
}

.navbar {
    background-color: #323264;
    padding: 0.75rem 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    height: 32px;
    display: flex;
    align-items: start;
    margin-left: 1rem;
}

.nav-menu {
    list-style: none;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.nav-link {
    color: #f1f1f1;
    font-weight: 600;
    font-size: 1.7rem;
    text-decoration: none;
    transition: color 0.4s ease;
}

.nav-link:hover {
    color: #f75ec1;
}

.nav-link-active {
    content: '';
    background: linear-gradient(45deg, #FF00A5, #ff4fc1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    text-decoration: underline;
}

.nav-link-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: linear-gradient(45deg, #FF00A5, #ff4fc1);
    border-radius: 2px;
}

.user-icon {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 5rem;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}


.tituloTrilha {
    font-size: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #EBEBFF;
}


.indicadores {
    display: flex;
    justify-content: end;
}

.item-indicador {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    background: none;
    gap: 0.5rem;
    color: #EBEBFF;
    font-size: 1.2rem;
    font-weight: 600;
    background: none;
    -webkit-text-stroke: 1px #FFCC4D;
}


.item-indicador img {
    width: 46px;
    height: 46px;
    vertical-align: middle;
    background: none;
}

.item-indicadorstreak {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    background: none;
    gap: 0.5rem;
    color: #EBEBFF;
    font-size: 1.2rem;
    font-weight: 600;
    background: none;
    -webkit-text-stroke: 1px #FF91D1;
}

.item-indicadorstreak img {
    width: 38px;
    height: 46px;
    vertical-align: middle;
    background: none;
    margin-bottom: 0.5rem;
}

.item-indicadorvidas {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    background: none;
    gap: 0.5rem;
    color: #EBEBFF;
    font-size: 1.2rem;
    font-weight: 600;
    background: none;
    -webkit-text-stroke: 1px #20FF8A;
}

.item-indicadorvidas img {
    width: 50px;
    height: 46px;
    vertical-align: middle;
    background: none;
}

.item-indicadorloja {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    background: none;
    gap: 0.5rem;
    margin-right: 5.8rem;
}

/* Fim estilização Nav e A barra onde mostra as vidas*/

/* Conteudo Trilha */
main {
    height: 100vh;
    /* background-color: #20FF8A; */
    display: flex;
    align-items: end;
    padding-left: 2rem;
}

.trilha {
    /* background-color: #FF91D1; */
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.bloco {
    background-color: #9191B9;
    border-radius: 50%;
    padding: 1rem;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #EBEBFF;
    position: relative;
}

.numeroAula {
    position: absolute;
    margin-left: -7rem;
    margin-top: -1rem;
    z-index: 0;
}

.status {
    color: #191932;
    position: absolute;
    z-index: 0;
    margin-left: 15rem;
    margin-top: 4.5rem;
    /* width: 10rem; */
    display: flex;
    flex-direction: row;
    align-items: end;
    font-size: 20px;
    font-weight: 600;
}

.circuloStatus {
    position: relative;
    background: linear-gradient(#6FFFE6, #20FF8A);
    border-radius: 50%;
    border: 5px solid #9191B9;
    /* box-shadow: 0 0 10px #000; */
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCheck {
    width: 6.5vh;
}

.nomeStatus {
    display: flex;
    flex-direction: column;
}

.tipos {
    margin-bottom: 0.2rem;
    background-color: #EBEBFF;
    width: 9.563rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #9191B9;
    border-radius: 10px;
}

.completo {
    background: linear-gradient(#6FFFE6, #20FF8A);
}

.emBaixo {
    display: flex;
    align-items: end;
    height: 96%;
    /* background-color: #FF00A5; */
    width: 15vw;
}

.noMeio {
    display: flex;
    align-items: center;
    height: 90%;
    width: 15vw;
    margin-left: 1rem;
    /* margin-right: 1rem; */
    /* background-color: #6FFFE6; */
}

.noTopo {
    display: flex;
    align-items: start;
    height: 98%;
    width: 15vw;
    margin-left: 1rem;
    /* margin-right: 1rem; */
    /* background-color: yellow; */
}

.noTopDois {
    display: flex;
    align-items: start;
    height: 98%;
    width: 15vw;
    padding-top: 4rem;
    margin-left: 1rem;
    /* margin-right: 1rem;
    margin-left: 2rem; */
    /* background-color: blue; */
}

.noMeioDois {
    display: flex;
    align-items: center;
    height: 85%;
    width: 15vw;
    padding-top: 3rem;
    margin-left: 1rem;
    /* margin-right: 1rem;
    margin-left: 2rem; */
    /* background-color: #6FFFE6;    */
}

.emBaixoDois {
    display: flex;
    align-items: end;
    height: 90%;
    width: 15vw;
    margin-left: 1rem;
    /* margin-left: 1rem; */
    /* background-color: #6FFFE6; */
}

.emBaixoTres {
    display: flex;
    align-items: end;
    height: 64%;
    width: 15vw;
    margin-left: 1rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    margin-bottom: 2rem;
    /* background-color: red; */
}

/* .imagemAula {
    width: auto;
    height: auto;
} */

/* .trilha {
    display: flex;
    align-items: end;
    color: #ff4fc1;
    background-color: #333;
    height: 80%;
} */

/* .bloco {
    width: 12.5rem;
    height: 11rem;
    text-decoration: none;
    color: #FFFFFF;
    background: #9191B9;
    border-radius: 50%;
    display: flex;
    flex-direction: column; tirar
    text-align: center;
    justify-content: center;
    transition: transform 0.3s;
    box-shadow: 0 0 10px #000;
} */

/* .bloco .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 150px;
    padding-top: 2rem;
    box-sizing: border-box;
}

.bloco.up {
    transform: translateY(-100px);
}

.bloco.up1 {
    transform: translateY(-30px);
}

.bloco.up2 {
    transform: translateY(-180px);
}

.bloco.down {
    transform: translateY(110px);
    margin-left: 2rem;
}

.bloco.bloqueado {
    opacity: 0.8;
} */