<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codevo Aprenda a programar</title>
    <link rel="icon" href="img/logo_icone.png" >
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
</head>
<body>
    <footer class="footer">
        <div class="container">
          <!-- Logo e slogan -->
          <div class="footer-logo">
            <h2>
              <img src="img/logo.png" alt="" class="img-logo">
            </h2>
            <p style="font-size: 14px; font-family: sans-serif;" align="center">
                <span style="color: #28FF93;" align="center">&lt;\Aprenda</span>
                <span style="color: white;"> &amp; </span>
                <span style="color: #FF2AE9;">compartilhe&gt;</span>
              </p>
          </div>
    
          <!-- Links -->
          <div class="footer-links">
            <h3>Ver Mais</h3>
            <ul>
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Contatos</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Cursos</a></li>
            </ul>
          </div>
    
          <!-- Ações -->
          <div class="footer-actions">
            <p align="center"><span class="highlight">Comece já</span> a treinar <span class="pink">Programação</span></p>
            <div class="buttons">
              <a href="#" class="btn pink">Cadastre-se</a>
              <a href="#" class="btn outline">Login</a>
            </div>
        </div>
            <div class="social">
                <h3>Social</h3>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
              </div>
          
        </div>
    
        <div class="footer-bottom">
          © 2025 Codevo | All Rights Reserved
        </div>
      </footer>
</body>
</html>